<h1>New Movie</h1>

<%= form_for @movie do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :genre %>
    <%= f.text_field :genre %>

    <%= f.label :image_url %>
    <%= f.text_field :image_url %>

    <%= f.submit "Create" %>
<% end %>
