<h1><%= @movie.name %></h1>

<p>genre: <%= @movie.genre %></p>
<%= image_tag @movie.image_url %>
<p>rating: <%= @movie.rating %></p>
<p>description: <%= @movie.description %></p>
<p>Channel: <%= @movie.channel.name %></p>
